.scrollplease{
    overflow-y:true; 
}

.current-day {
    background-color: #4285f4;
}

.month-popup {
    position: absolute;
}

.month-popup div {
    padding: 0.3em;
}

.modal-header{
    font-size: 1rem;
}

.nav-month {
    position: absolute;
}


.label-month{
    cursor: pointer;
}

body {
    max-width: 100%;
    max-height: 101%;
    overflow-y:auto;
 }


  .td-calender{
    cursor: pointer;
 }

 .change-cursor{
    cursor: pointer;    
 }


 td {
    
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 24px !important;
     max-width: 85px !important;
     max-height: 90px !important;
    padding: 0;
    height: 80px;
    width:80px;
    position: relative;
 
 }



 .text{
     position: absolute;
     top: 5px;
     left: 5px;
 }

  .text-blue{
    position: absolute;
    top: 5px;
    left: 5px;   
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    background-color: #4285f4;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  
   .modal-common-button{
    margin-left: 5px;
    margin-right: 5px;
   }

   .time-glyfi-style{
    padding-left: 20px;
    padding-right: 5px;
   }
   

   .today{
    color: #2a5daf;
   }

   .modal-header-buttons{
    position: absolute;
    margin-left: 80%;
    margin-top: 5%;
   }

   .editing-modal-trash{
    margin-right: 15px;
   }


   .close-editing-modal{
       /* float: right;
       position: absolute;
       text-align: right;
       flex-direction: left !important;
       padding-left: 95%;
        padding-top: 2%;
        padding-right: 0px; */
        color: #ffffff;
        cursor: pointer;
   }
    
   .modal-text-box{
    /* border-style: solid;
    border-width: thin; */
    outline: none;
    border-width: 0;

   }

   .calender-today-button{
       padding: 0 !important;
   }

   .Pencil-Editing-Modal{
    position: absolute;
    bottom: 105px;
    left: 15px;
    font-size: 1.5rem !important;
    color: #ffffff;
    background-color: #3ca5d8;
    width: 40px;
    height: 40px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-radius: 50%;

   }


  .button-del-modal{
    float: right;
    margin-right: 15px;
    margin-top: 6px;
    }

    .cell{
     margin-top: 2px;
    }

  .month-popup {
   /* // position: absolute; */
    padding: 5px;
    background: white;
    border: 2px solid skyblue;
    z-index: 100;
    left: 100px;
}


.reminder-list {
     /* max-width: 90px; */
    display: inline-block;

    width:100% !important;
   /* // overflow: hidden; */
    list-style: none;
    font-size: 13px;
    /* border-radius: 5px; */
    background-color: green;
    color: #fff;
    margin: 12px 0 1px 0;
    z-index: 200;

    } 


    .Editing-Clock-Text{
      padding-left: 5px;
    }


    .Editing{
        width: 332px;
        height: 118px;
        height: 118px;
        padding-top: 0px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-bottom: 0px !important;
    }

    .Editing-Modal-Upper{
        background-color:#039BE5 !important;
    }

    .Editing-Clock-Style{
        /* /* margin-right: 90%;
        margin-bottom: 10%;     */
        color:  #8c8c8c; 
        /* position: absolute; */

    }

    .Editing-Modal-Time-Section{
        margin-right: 45% !important;
        margin-top: 10% !important;
    }


    .modal-header{
        background-color: #039BE5;
        display: absolute !important;
    }

    .Editing-task{
        font-size: 20px;
        line-height: 26px;
        max-height: 52px;
        margin-top: auto;
        padding: 0 32px 0 64px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        color: #fff;
    }

    .Editing-task-input{
        display: inline-block;
        font-size: 20px;
        line-height: 26px;
        max-height: 52px;
        margin-top: auto;
        padding: 0 32px 0 64px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .Editing-save-button{
        margin-left: 80%;
        margin-bottom: 3%;
    }


    .label-year{

        outline: none;
        border-width: 0;

    }

    .editor-year{
        outline: none;
        border-width: 0;
    }


/* 
    .tooltip {
        position: relative;
        display: inline-block;
        opacity: 1;
    }
    
    .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
    
        /* Position the tooltip */
        /* position: relative;
        z-index: 1;
    }
    
    .tooltip:hover .tooltiptext {
        visibility: visible;
    } */ 



/* .current-day-round {
    margin-top: 4px;
    margin-left: -2px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    background-color: #4285f4;
    -webkit-border-radius: 50%;
    border-radius: 50%;
} */

.save-style{
    padding: 0 !important; 
}


.month-nav-left-bar{
    margin-right: 30%;
}